.fondoLogin{
  background-image: url("../view/img/fondo-login.png");
  background-repeat: round;
  background-attachment: fixed;
  background-size: contain;
}

.fondoLoginCard{
  background-color: #D98BB4;
}

.cardImage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
}

.imagenLogin{
  width: 350;
  height: 150px;
  margin-top: 5px;
}

.buttonLogin{
  background-color: #D98BB4;
}

.imageNavBar{
  margin-top: 8px;
  width: 200;
  height: 80px;
  padding-left: 30px;
}